/* CardCarousel.css */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);  
  width: 100px;
  height: 50px;
}

.carousel-indicators button {
  filter: invert(100%);
}

.carousel-indicators {
  bottom: -50px; 
}