/* grid.css */
.grid-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* margin: -15px; 그리드 아이템 간격 보정 */
  }
  
  .grid-item {
    padding: 15px; /* 그리드 아이템 간격 설정 */
    /* box-sizing: border-box; 패딩을 그리드 아이템 크기에 포함시킴 */
  }
  
  .item-7 {
    flex: 0 0 58.33334%; /* 8칼럼 크기 (7/12) */
    max-width: 58.33334%; /* 최대 너비 설정 */
  }
  
  .item-4 {
    flex: 0 0 33.33333%; /* 4칼럼 크기 (4/12) */
    max-width: 33.33333%; /* 최대 너비 설정 */
  }
  .item-1 {
    flex: 0 0 8.33333%; /* 1칼럼 크기 (1/12) */
    max-width: 8.33333%; /* 최대 너비 설정 */
  }