/* grid.css */
.grid-container {
    display: flex;
    margin-top : 1%;
    /* flex-wrap: wrap; */
    /* margin: -15px; 그리드 아이템 간격 보정 */
  }
  
  .grid-item {
    padding: 15px; /* 그리드 아이템 간격 설정 */
    /* box-sizing: border-box; 패딩을 그리드 아이템 크기에 포함시킴 */
  }
  
  .item-6 {
    flex: 0 0 50%; /* 8칼럼 크기 (7/12) */
    max-width: 50%; /* 최대 너비 설정 */
    background-color:  #f9f9f9;
    border-radius: 15px;
  }
  .item-7-color {
    margin-left : 10%;
    margin-right : 10%;
    background-color: #f9f9f9;
  }
  
  .item-4 {
    flex: 0 0 33.33333%; /* 4칼럼 크기 (4/12) */
    max-width: 33.33333%; /* 최대 너비 설정 */
  }
  .item-1 {
    flex: 0 0 8.33333%; /* 1칼럼 크기 (1/12) */
    max-width: 8.33333%; /* 최대 너비 설정 */
  }
  .item-3{
    flex: 0 0 25%; /* 4칼럼 크기 (4/12) */
    max-width: 25%; /* 최대 너비 설정 */
    background-color: #f9f9f9;
  }
  .item-2{
    flex : 0 0 12.25%;
    max-width : 12.25%;
  }