.myswiper{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
  height : auto;
}

.swiper {
  width: 100%;
  position: relative;
  overflow-y: visible !important;
  z-index: -1;
  padding-top: 1%;
  padding-bottom: 1%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  align-self : center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.swiper-slide {opacity:0.4; transition:opacity 0.3s;}
.swiper-slide-active {
  opacity:1;
}
