.dogContainer {
  /* border: ; */
  width: 450px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  background: #ffffff;
  
}

.dogContainerHeader {
  margin: 5px 10px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.addDogButton {
  size: 100px;
  /* height: 25px; */
  background-color: white;
  border: none;
}

.dogContainerSeperator {
  margin-top: 0px;
  margin-bottom: 10px;
}


.dogImageContainer {
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
}

.dogImage {
  margin-left: 10px;
  width: 80px;
  border: 2px solid black;
  border-radius: 100px;
}

.dogImage.selected {
  border-color: #ffaa00; 
}
