.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tempContainer {
  margin-top: 10px;
  padding: 3%;
  background: #FFEACB;
}

.tempContainerTitle {
  text-align: left;
  margin-left: 5%;
  margin-bottom: 3%;
}
.dogImage{
  height: 70px;
  width: 100px;
}
.dogImageContainer{
  height: 80px;
}