.streamingContainer {
	background-color:#f9f9f9;
	width: 60%;
	display: flex;
	flex-direction: column;
}

.mainVideo {
	width: 100%;

}

.subVideos {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 10px;

}

.leaveButton {
	background-color: red;
	color: white;
	width: 120px;
	border: 0;
	border-radius: 30px;
	height: 40px;
}

.streamingBottom {
	display:flex;
	flex-direction: row;
}


ion-icon {
	font-size: 30px;
}