/* Update the CSS for the video container */
.streamcomponent-largeStream {
  position: relative;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 50%;
  /* height: 100%; */
  margin-left: 25%;
}

/* Update the CSS for the video container */
.streamcomponent-smallStream {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* width: 100%; */
  height: 100%;
}

.nameTag {
  position: absolute;
  bottom: 1%;
  left: 1%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline-block;
  width: fit-content;
  border-radius: 20px;
  padding: 1%;

}
/* Update the CSS for the video element */
.streamcomponent video {
  /* position: absolute; */
  /* height: 100%; */
  width: 100%;
  /* border-radius: 10px;
  object-fit: cover; */
  background-color: red;
}

/* Update the CSS for the text div */
.streamcomponent div {
  position: absolute;
  bottom: 10px; /* Position the div 10px above the bottom */
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline-block;
  width: fit-content;
  border-radius: 30%;
}

.OpenViduVideoComponent {
  width: 100%;
  height: 100%;
}