.streaming-card{
    width: 70%;
    height: 60%;
    position: relative;
}

.streaming-card .card-img-bg {
    position: absolute; /* 절대 포지션으로 설정하여 겹치게 함 */
    opacity: 0.8;
}

.streaming-card:hover .card-img-bg {
    position: absolute; /* 절대 포지션으로 설정하여 겹치게 함 */
    opacity: 1;
}

.streaming-card .card-img {
    max-width: 100%;
    max-height: 100%;
}

.streaming-card .overlay-icon {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.streaming-card .overlay-icon ion-icon{
    color: #FFAA00;
    font-size: 5vw;
    opacity: 0;
}

.streaming-card:hover .overlay-icon ion-icon {
    color: #FFAA00;
    font-size: 4vw;
    opacity: 1;
}

.streaming-card .overlay-scheduled {
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.streaming-card .overlay-scheduled .status-scheduled {
    background-color: #493100;
    color: #FFAA00;

    margin-right: 1vw;
    margin-bottom: 1vw;

    border-radius: 6px; /* 반지름으로 둥글게 모서리 설정 */
}

.streaming-card .overlay-scheduled .status-scheduled p {
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;

    font-size: 1.3vw;
    font-weight: 500;
}

.streaming-card .overlay-participants {
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.streaming-card .overlay-participants .participants {
    margin-left: 1vw;
    margin-bottom: 1vw;

    display: flex;
    justify-content: center;
    align-items: center; /* 수직 중앙 정렬 */
}

.streaming-card .overlay-participants .participants ion-icon {
    font-size: 1.7vw;
    flex: 2;
    color: #ffffff;
}

.streaming-card .overlay-participants .participants p {
    margin: 0;
    font-size: 1.3vw;
    flex: 5;
    font-weight: 500;
    color: #ffffff;
}

.streaming-card .overlay-wait {
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.streaming-card .overlay-wait .status-attendee-wait {
    background-color: #FFAA00;
    color: #493100;

    margin-right: 1vw;
    margin-bottom: 1vw;

    border-radius: 6px; /* 반지름으로 둥글게 모서리 설정 */
}

.streaming-card .overlay-wait .status-attendee-wait p {
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;

    font-size: 1.3vw;
    font-weight: 500;
}