.petRemoveBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}
  
.petRemoveBtn:hover {
  cursor: pointer;
}