#chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  margin-left: 3%;
  margin-top: 1%;
  background-color: #f9f9f9;
  padding: 1%;
  width: 27%;
  margin-right: 0;
  border-radius: 10px;
}

.msg-info {
  text-align: start;
}

.messageInput {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between messageSendInput and icon */
  width: 100%;
  text-align: left;
}

.messageSendInput {
  border-radius: 10px;
}

