.totalChatContainer{
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-left: 3%;
  margin-top: 1%;
  width: 27%;
  max-height: 700px;
  border-radius: 10px;
}

.chatTitleDetail {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 6%;
  font-weight: bold;
}

.chatTitleDetail{
  font-size: 20px;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding-left: 3%;
  margin-right: 0;
  height: 100%;
  overflow-y: auto;
}
#chatContainer::-webkit-scrollbar {
  border-radius: 10px;
  /* background:#ccc; */
}
#chatContainer::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background:#ccc;
}
#chatContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(204, 204, 204, 0.1);  /*스크롤바 뒷 배경 색상*/
}
#chatContainer::-webkit-scrollbar-button:vertical:end:decrement {
  width: 100px;
  display: block;
}
#messageInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-top: 2%;
}
.messageSendInput {
  border:#ccc 1px solid;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 5%;
  padding: 2%;
}
.recipeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: rebeccapurple; */
}
.recipe-info{
  text-align: start;
  background-color: white;
  width: 90%;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
  /* margin-left: 1%; */
  font-size: larger;
}
.recipe-info-list{
  text-align: start;
  background-color: white;
  width: 90%;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
  /* margin-left: 1%; */
  font-size: larger;
  max-height: 450px;
  overflow-y:auto;
}
.recipe-title {
  font-weight: bold;
}

/* 이미지 + 채팅 정보 */
.msg-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* 한 유저의 채팅 정보 */
.msg-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: white;
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 1%;
}

.chatProfileImg{
  height: 50px;
  border-radius: 50%;
}

.reactionBtn {
  border-radius: 10px;
  color: black;
  background-color:aliceblue;
  border:black 1px solid;
  margin: 1%;
  height: 40px;
}